1) What is a database? Differentiate between SQL and NoSQL databases.

Database is basically defined as a collection of inter-related data which is available for us 24 x 7.

difference between SQL and NoSQL:
- SQL databases are used to store data in a structured manner which means it is going to store data in tabular form (Just like excel sheet).
- NoSQL databases are used to store data which is available in an unstructured manner (in the form of images, video file, audio file, text etc.).

2) What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language.

DDL commands are used to define the structure of data.

- CREATE: it is used to create databases and tables in our system. **ex: CREATE database test_1** (this command will create a database named test_1), **ex: CREATE table test_1.test_table(columns of a respective table)** (this command will create a table named test_table in test_1 database.)
- DROP: it is used to delete/drop the entire database or a table of that particular database. **ex: DROP DATABASE test_1** (this command is responsible for deleting the database named test_1), **ex: DROP TABLE test_1.test_table** (this will delete a table named as test_table in test_1 database.)
- ALTER: it is used when we want to add or remove columns inside a table. **ex: ALTER TABLE test_table ADD (column_name  datatype)** (through this command we will be able to add a particular column inside our database.)
- TRUNCATE: it is used to delete the data inside a table but not the table itself. **ex: TRUNCATE TABLE test_table** (it is responsible for deleting the content present inside test_table.)

3) What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language.

DML commands are used when we want to enter or modify or delete a particular amount of data.

- INSERT: it is helpful when we want to insert the data inside a table (single tuple at a time). **ex: INSERT TABLE table_name VALUES (values with respective to the columns)**
- UPDATE: it is used when we want to modify a particular data present inside a table. **ex: UPDATE test_1 SET c1 = 'pwskills' WHERE c3 = 1**
- DELETE: it is used to delete records present inside a table. **ex: DELETE FROM test_1 WHERE c3 = 'xyz'**

4) What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language.

DQL commands are used when we want to fetch the data from database/tables.
- SELECT: it is used to fetch the entire data present inside a table/tables or data which setisfies a given condition or only few columns present inside a table/tables.

ex: SELECT * FROM test_1 ** (this will select the entire data of a table named test_1)

5) Explain Primary Key and Foreign Key.

- Primary key: it is defined as a single attribute or a set of attributes through which we can uniqely identify each and every tuples/records present inside a table.
- Foreign key: it is used to establish the relationships between tables. it also known as referential integrity constraint. it's a attribute / set of attributes which took reference from primary key present inside the same table or in another table.

6) Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

- cursor(): it enables us to interect with our database after establishing the connectivity.
- execute(): it will allows us to perform SQL queries through python code.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password"
)
mycursor = mydb.cursor()
mycursor.execute()

7) Give the order of execution of SQL clauses in an SQL query.
Following is the order of execution of SQL clauses:
- WITH (if present and chosen), FROM
- WHERE 
- GROUP BY
- HAVING
- SELECT, Window functions 
- DISTINCT
- UNION, UNION ALL
- ORDER BY
- LIMIT/ OFFSET