1) What are the characteristics of the tuples? Is tuple immutable? 
- Tuples are defined in the same way as lists.
- They are enclosed within parenthesis and not within square braces.
- Elements of the tuple must have a defined order.
- Negative indices are counted from the end of the tuple, just like lists.
- Tuple also has the same structure where commas separate the values.

Yes, Tuples are immutable in nature as we won't be able to modify its elements as we can do in case of lists.

2) What are the two tuple methods in python? Give an example of each method. Give a reason why
tuples have only two in-built methods as compared to Lists.
there are two in-built methods available in case of tuples:
- .count()--> returns the occurrence of a particular element inside a tuple.
- .index()--> returns the first occurrence of any element inside a tuple.
 
As we all know that Tuples in python are immutable in nature and this is the major difference b/w lists and tuples.So we won't be able to add, remove or change any element once a tuple is defined and this is the reason why tuples have only two in-built methods as compared to lists.

In [6]:
#Example:
tpl = (1,2,3,"PWSkills", "Tapan", 56.89, True)
print("count the number of times 1 is present: {}".format(tpl.count(1)))
print("Gives the index where 'Tapan' is present: {}".format(tpl.index("Tapan")))

count the number of times 1 is present: 2
Gives the index where 'Tapan' is present: 4

3) Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list.

'Sets' are the collection datatypes in python which do not allow duplicate items.

In [8]:
lst = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
st = set(lst)
print(st)

{1, 2, 3, 4}

4) Explain the difference between the union() and update() methods for a set. Give an example of
each method.

- union() method is used to combine both of the sets by considering all duplicate elements only once.
- update() is a method having the same functionality as union() but the only difference is that it update the value into a particular set while union() can't able to do that.

In [2]:
st1 = {1,2,3,"Data Science",56.85,False}
st2 = {3,5,6,True,False,"Data Science",100.82}
print(st1.union(st2))
print("After performing union Set_1: ")
print(st1)
st1.update(st2)
print("After performing update Set_1: ")
print(st1)

{False, 1, 2, 3, 100.82, 5, 6, 56.85, 'Data Science'}
After performing union Set_1:
{False, 1, 2, 3, 56.85, 'Data Science'}
After performing update Set_1:
{False, 1, 2, 3, 100.82, 5, 6, 56.85, 'Data Science'}

5) What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

A dictionary is basically a collection datatype which is used to store number of 'Key-Value' pairs in which a particular value is associated with a particular key.

Dictionary in Python is a type of unordered collection datatypes.

In [6]:
## Example
player_info = {
    "Virat Kohli": "Cricketer",
    "Critiano Ronaldo": "Footballer",
    "Lebron James": "Basketball Player",
}
print(player_info["Virat Kohli"])

Cricketer

6) Can we create a nested dictionary? If so, please give an example by creating a simple one-level
nested dictionary.

Yes we may create a nested dictionary.

In [4]:
## Example
player_info = {
    "Virat Kohli": {"Country": "India", "Belongs_to": "Cricket"},
    "Critiano Ronaldo": {"Country": "Portugal", "Belongs_to": "Football"},
    "Lebron James": {"Country": "USA", "Belongs_to": "Basketball"},
}
print(player_info["Virat Kohli"]["Belongs_to"])

Cricket

7) Using setdefault() method, create key named topics in the given dictionary and also add the value of
the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']

In [8]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault('topics', ['Python', 'Machine Learning', 'Deep Learning'])

['Python', 'Machine Learning', 'Deep Learning']

In [9]:
print(dict1)

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

8) What are the three view objects in dictionaries? Use the three in-built methods in python to display
these three view objects for the given dictionary.

the three view objects in dictionaries are:
- Only Key view
- Only Value view
- Both Key and Value

In [10]:
dict1 = {
    'Sport': 'Cricket' ,
    'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']
}
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [11]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [12]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])